{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "linebreak-style": [
            "error",
            "windows"
        ],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/jsx-indent" : ["error", 4],
        "indent": ["error", 4]
    },
    "globals": {
        "document": true,
        "window": true
    }
}